
@font-face { font-family:Roboto; src: url('Roboto-Regular.html');}
body { 
  margin-top: 30px;
  /*color:#646464;
  background-color:#F8F8F8;
  background-color: #ECF0F1; */
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
label { font-weight: 1; }
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,a:focus {
  text-decoration: none;
  color: #2a95be;
}
img { padding-top: 2px;}
a { cursor:pointer;}

.border{box-shadow: 0 2px 2px 2px;}
.error {
  font-size: 12px;
  padding-left: 10px;
  color: #fff;
}
.konten form { padding-left: 0px;}
.navbar-form input, .form-inline input { width:auto;}
.bungkus {
  margin-top: 0px;
  padding-left:  0px;
  padding-right: 0px;
  background-color: #eeeeee;
}
.bungkus-dalam {
  margin-top: 0px;
  min-height:670px;
  box-shadow: 0 1px 2px 2px #4C8A97;
  margin-bottom: 0px;
  background-color: #fff;
  border-radius: 0px;
}
#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body { padding-top:0px;}
.top-spacer {
  background-color:#fff;
  height:40px;
}
a,a:hover {
  color:#223344;
  text-decoration:none;
}
.icon-bar { background-color:#fff;}
.panel-default { background-color: #4B77BE;}
.panel h3 { font-weight: bold;}
.panel.body form > label{ color:#CC4646;}
.panel a:hover{ background-color:#ced3d6; }
.panel-title{ color: #fff;}
.panel-heading{
  background-color: #CC4646;
  text-align: left;
}
.list-group a{
  text-align: left;
  padding-left: 15px;
  background-color: #FFF;
}
.form-group a:hover{background-color: #18963b;}
.form-group { padding-left: 0px;}
.btn-primary:hover{
    color: #FFF;
    background-color: #0A819C;
}
.btn-success {
    color: #FFF;
    background-color: #3CBC8D;
    border-color: #36A97F;
}
.btn-success:hover{
    color: #FFF;
    background-color: #36A97F;
}
.btn-danger{  background-color: #CC4646; }
.panel{
  border-color:#0A819C;
  border-radius:0;
  background-color: #FFF;
}
.thumbnail { margin-bottom:8px;}
.img-container {
  overflow:hidden;
  height:170px;
}
.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}
.txt-container {
  overflow:hidden;
  height:100px;
}
.panel .lead {
  overflow:hidden;
  height:90px;
}
.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 0px 1px 0px #4C8A97;
}
.navbar.navbar-default .navbar-toggle { margin-top: 32px;}
.navbar.navbar-default .navbar-brand { height: auto;  padding: 10px 10px;}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0px #19198a;
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 45px;
    padding-bottom: 40px;
    font-size: 16px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 43px;
    border-top: 3px solid #19198a;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}

.section-header { margin-bottom: 50px; padding-top: 120px;}
.section-header { margin-bottom: 50px;}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #19198a;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #19198a;
  font-family: "Roboto", sans-serif;
  position: bottom;
}
#footer a { color: #fff;}
#footer a:hover { color: #19198a;}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {float: right; }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.media.service-box { margin: 25px 0;}
.media.service-box .pull-left { margin-right: 20px;}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 2px #45aed6;
  -webkit-box-shadow: inset 0 0 0 1px #45aed6;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.list-group-item.greenbg, .list-group-item.greenbg:hover, .list-group-item.greenbg:focus {
    z-index: 2;
    color: #fff;
    background-color: #19198a;
    border-color: #19198a;
    font-weight: bold;
  }
  .list-group-item.greenbg > .badge{
    background-color: #fff;
    color:#19198a; 
  }